@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --nav-height: 60px;
}

html {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}



body {
    margin: 0;
    font-size: 14px;
    color: #333;
    background-color: #f8f8f8;
    line-height: 1.42857143;
    font-family:
            Pretendard Variable,
            Pretendard JP Variable,
            -apple-system,
            system-ui,
            BlinkMacSystemFont,
            Roboto,
            Segoe UI,
            Helvetica,
            Arial,
            Apple SD Gothic Neo,
            Nanum Gothic,
            Malgun Gothic,
            Apple Color Emoji,
            Segoe UI Emoji,
            Segoe UI Symbol,
            sans-serif;
}

.Topfilterline{
    padding: 700px 80px 0 80px;
}

.Topfilter1{
    margin-bottom: 25px;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.Topfilter2 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border-bottom: 1px solid #36f;
    background-color: #fff;
    z-index: 2;
    padding-top :20px;
    padding-bottom :25px !important;
}

@media (max-width :767px) {
    .FilterInWdlist_container__CXp_u {
        width: 100%;
        padding-bottom: 10px;
    }
}

.Top2side2{
    position: absolute;
    left: 50px;
    right: 50px;
    bottom: 0;
    top: 100px;
    overflow-y: hidden;
    max-width: 220px;
    height: 70vh;
    background-color: #fff;
    border: 1px solid #e1e2e3;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,.15);
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
    border-radius: 5px;
    z-index: 99;
    padding: 15px 0;
}


.Top3 {
    width: 600px; /* 너비 변경 */
    height: 400px; /* 높이 변경 */
    overflow-y: overlay;
    position: absolute;
    top: calc(60% + 10px);
    right: 0;
    left: 200px;
    background-color: #fff;

    /* border-width 속성을 이용해 테두리 두께 조절 */
    border: 4px solid #e1e2e3;

    box-shadow: 0 4px 6px rgba(0,0,0,.15);
    border-radius :5px;

    z-index :99;

    padding :15px;
    word-wrap: break-word;
}


.Top2side1{
    font-size: 16px;
    padding: 10px 0 10px 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    color: #333;
}


.Top2{

    display: flex; justify-content: space-between;
    background: #fff;
    padding-top: 3px;
    margin-right: 200px; /* Increase right margin to 20px */
    font-size: 20px; /* Increase font size to 30px */
    line-height: 29px;
    font-weight: 700;
    color: #333;

    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
}

.Top2svg{
    margin-right: 20px;
    position: relative;
    border: 1px solid #e1e2e3;
    border-radius: 9999px;
    background-color: #fff;
    width: 26px;
    height: 26px;

}
.Topdivider{
    margin-left: 20px; /* Add space to the left of the divider */
    margin-right: 20px; /* Add space to the left of the divider */
}

.jobdetailboder {
        padding: 0 20px;
        background: #fdfdfd;
        border: 1px solid #ffffff; /* or your preferred color/thickness */
        min-height: 200px;
        width: auto; /* width will be determined by its content or its containing element */
        max-width: 700px; /* replace with the maximum width you want to set */
}


/*@media (min-width: 340px) and (max-width: 1199px) {*/
    .Sidefixpage1 {
        width: 350px;
        border: 1px solid #feffff;
        background-color: #fffefe;
        position: fixed; /* 고정 위치 */
        right: 88px; /* 오른쪽 정렬 */
        height: 100px; /* 이 부분에서 직접적으로 높이를 조절할 수 있습니다. */
        padding-top: 0px;
        padding-right :15px ;
        padding-bottom :20px ;
        padding-left : 0px ;
    }

.Sidefixpage1 img {
    width: 100%;
    height: auto;
}



/*@media (min-width: 340px) and (max-width: 1199px) {*/
/*    .Siderfixpage2 {*/
/*        width: 340px;*/
/*        border: 1px solid #e1e2e3;*/
/*        background-color: #fff;*/
/*        padding: calc(340px * .608641);*/
/*    }*/
/*}*/

.Topbackground-magin{
    margin-top: 60px; /* Adjust this value as needed */
}

.Tag {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 10px;
    padding: 9px 14px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #333;
    background-color: #c5d0d2;
    border-radius: 25px;
}

.Topbackground2 {
    max-width: 1060px;
    height: 60px;
    margin: 0 auto;
    /* Add these lines */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .MainBar_MainBar__40DX7 {
        width: 90%;
    }
}

.Topbackground {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    position: absolute;
    z-index: -1;
    background: rgba(255,255,255,.88);
    /*-webkit-backdrop-filter: saturate(150%) blur(32px);*/
    backdrop-filter: saturate(150%) blur(32px);
    height: 100%;
    width: 100%;

}




.Topnav {
    display: -ms-flexbox;
    display: flex;
    padding-left: 64px;
    height: 100%;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
    z-index: -1;
    height: 100%;
    margin-right: 40px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transition: color .25s;
    transition: color .25s;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: .0096em;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;

    padding: 4px;
}





.addressDot{
    margin: 0 3px;
    top: -4px;
    position: relative;
    font-weight: 400;
    color: #999;
}


.location {

    font-weight: 400;
    color: #999;
    font-size: 14px;
    line-height: normal;
    text-align: left;
    word-break: break-word;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;

}


.name {
    /*font-size: 14px;*/
    /*line-height: normal;*/
    /*text-align: left;*/
    /*word-break: break-word;*/
    /*width: 100%;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*margin-top: 10px;*/
    position: relative;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    max-height: 2.4em;
    overflow: hidden;
    text-align: left;
    word-break: break-word;
}



.BottomCardHead{
    position: relative;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    max-height: 2.4em;
    overflow: hidden;
    text-align: left;
    word-break: break-word;
}

.BottomCard>ul li {
    width: 25%;
    padding: 10px;
    list-style: none;
    display: inline-block;
    vertical-align: top;

}


h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.3px;
    color: #333;
    margin: 20px 0 14px;
}

/*적극 채용 중인 회사.css*/

/*.HiringCompanies {*/
/*    max-width: 1060px;*/
/*    margin-bottom: 40px;*/
/*    margin-right: 9px;*/
/*    position: relative;*/
/*}*/

.HiringCompanies {
    border: 5px solid #fc8383;
}

.Hirecom{
    border: 5px solid #fc8383;
}



.top {
    position: absolute;
    z-index: -1;
    background: rgba(255,255,255,.88);
    -webkit-backdrop-filter: saturate(150%) blur(32px);
    backdrop-filter: saturate(150%) blur(32px);
    height: 100%;
    width: 100%;
}






.company-list {
    display: flex; /* 카드들을 한 줄로 나열 */
}

.company-card {
    /* 카드 스타일링 */
    width: calc(100% / 5); /* 부모 요소 너비의 20%(=100% / 5) */
    box-sizing:border-box;
    padding :10px;
}

.Toplogo {
    width: 90px;
    height: 21px;
    align-items: center;

}

.TopMenu {
    display: flex;
    align-items: center;
}

.MenuItem {

    display: flex;
    flex-direction: row;
    align-items: center;
}
.MenuItem .MenuLink {
    margin-right: 20px; /* Adjust as needed */
}

.NavBar_top1 {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    z-index: 800;
}

.hiringCompaniesDiv3 {
    margin: 0 0 0 30px;
}


.hiringCompaniesDiv2 {
    max-width: 1060px;
    margin-bottom: 40px;
    margin-right: 9px;
    position: relative;
}
.hiringCompaniesDiv {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
    color : inherit;
}

@media (max-width: 767px) {
    .w-link {
        padding: 11px 10px 19px;
        outline-offset: 0!important;
    }
}

.w-link {
    position: relative;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px;
    display: inline-block;

    transition: color 0.3s ease;

    margin-right: 5px;
/*// 이 값을 줄입니다.*/
}

.w-link:hover {
    color: blue;
}

.w-link:focus,
.w-link.active,
.w-link:hover,
.w-link.visited {
    color : inherit;
}
